* {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    

}



body {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

button:hover {
    background: linear-gradient(45deg, rgb(67, 179, 173) 30%, rgb(2, 91, 163));
    
}

.logo {
    max-width: 600px;
    margin-bottom: 24px;
}

.container-input {
    max-width: 480px;
    margin: 14px 0;
}

.container-input span {
    color: aliceblue;
    font-size: 22px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(45deg, rgb(67, 179, 173) 30%, rgb(2, 91, 163));
    height: 18px;
    outline: none;
    margin-top: 8px;
    
    


}

.slider::-moz-range-progress {
    background: linear-gradient(45deg, lightpink 30%, lightseagreen);
    height: 18px;
    
    }

.button-cta {
    height: 40px;
    
    background: linear-gradient(45deg, lightpink 30%, lightseagreen);

    border: 0;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 40px;
    color: rgb(45, 96, 189);
    font-weight: bold;
    font-size: 18px;


}

.container-password {
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title {
    text-align: center;
    color: lightseagreen;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    border: 1px solid #212121;
}

.password:hover {
    transform: scale(1.05);

}

.tooltip {
    color: darkcyan;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: rgb(15, 15, 15);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;


}

.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}

.hide {
    display: none;
}
    